<form action= "/articles/<%= @articles.id %>" method= "post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <%= @articles.title %> <input id="title" type="text" name="article[title]">
    <%= @articles.content %> <input id="content" type="text" name="article[content]">
    <input type= "submit" value= "submit">





</form>