<form method= "POST" action= "/articles">
    title: <input type= "text" id="title" name="title">
    content: <input type= "text" id= "content" name= "content">
        <input type= "submit" value= "submit">





</form>